<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <title>Browsertrix Cloud</title>
    <base href="/" />
    <script defer src="<%= rwp_base_url %>ui.js"></script>
    <script
      src="https://browser.sentry-cdn.com/5.5.0/bundle.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <browsertrix-app
      version="v<%= version %>-<%= commitHash %>"
    ></browsertrix-app>

    <script>
      const isDev = "<%= environment %>" === "development";
      const dsn = "<%= glitchtip_dsn %>";

      if (isDev && dsn) {
        Sentry.init({
          dsn: dsn,
          release: "<%= gitBranch %> (<%= commitHash %>) v<%= version %>",
          environment: "<%= environment %>",
          debug: isDev,
          autoSessionTracking: false, // Turn off unsupported page/session tracking
        });
      }
    </script>
  </body>
</html>
